<div class="flex items-start">
  <div class="flex h-7 items-center">
    <input id="digitized2" name="digitized" type="radio" class="h-4 w-4 text-green-500 focus:ring-offset-0 focus:ring-2 border-gray-200 hover:border-gray-300 focus:border-gray-500 focus:ring-green-300 focus:ring-green-300">
  </div>
  <div class="ml-3 leading-7">
    <label for="digitized2" class="text-gray-800 text-base">Digiteeritud</label>
    <p class="text-gray-500 text-sm">Otsi ainult digiteeritud allikate hulgast.</p>
  </div>
</div>