<header class="m-2 bg-theme-ais rounded-sm shadow">
  <div class="flex py-5 px-8 w-full items-center">

    <img src="{{ relative }}/assets/images/logo.svg" class="h-8" alt="Rahvusarhiiv">

    <p class="border-l ml-4 pl-4 font-medium">
      disainisüsteem
    </p>

    <div class="ml-auto space-x-3">
      <!--<a href="#" class="font-bold underline">Link1</a>-->
      <!--<a href="#" class="font-bold underline">Link2</a>-->
    </div>
  </div>

</header>