<aside class="md:col-span-3 p-4 bg-white rounded-sm shadow">
  <nav class="divide-y-2 divide-gray-200 sticky top-4">

    <section class="pb-3">
      {% set navPages = collections.all | eleventyNavigation("Home") %}
      <ul class="space-y-1">
        {%- for entry in navPages %}
          <li class="">
            <a class="block rounded-sm py-2 px-4 hover:bg-green-50 {% if entry.url == page.url %} bg-green-50 {% endif %}" href="{{ relative }}{{ entry.url }}">{{ entry.title }}</a>
          </li>
        {%- endfor %}
      </ul>
    </section>

    <section class="py-3">
      <h3 class="px-4 py-2 uppercase font-bold text-sm">Design & Content</h3>

      {% set navPages = collections.all | eleventyNavigation("Design") %}
      <ul class="space-y-1">
        {%- for entry in navPages %}
          <li>
            <a class="block rounded-sm py-2 px-4 hover:bg-green-50 {% if entry.url == page.url %} bg-green-50 {% endif %}" href="{{ relative }}{{ entry.url }}">{{ entry.title }}</a>
          </li>
        {%- endfor %}
      </ul>
    </section>

    <section class="py-3">
      <h3 class="px-4 py-2 uppercase font-bold text-sm">Klassid ja omadused</h3>
      {% set navPages = collections.all | eleventyNavigation("Utilities") %}
      <ul class="space-y-1">
        {%- for entry in navPages %}
          <li>
            <a class="block rounded-sm py-2 px-4 hover:bg-green-50 {% if entry.url == page.url %} bg-green-50 {% endif %}" href="{{ relative }}{{ entry.url }}">{{ entry.title }}</a>
          </li>
        {%- endfor %}
      </ul>
    </section>

    <section class="py-3">
      <h3 class="px-4 py-2 uppercase font-bold text-sm">Komponendid ja küljendid</h3>
      <h3 class="px-4 py-2 uppercase text-sm">Feedback</h3>
      {% set navPages = collections.all | eleventyNavigation("Components") %}
      <ul class="space-y-1">
        {%- for entry in navPages %}
          <li>
            <a class="block rounded-sm py-2 px-4 hover:bg-green-50 {% if entry.url == page.url %} bg-green-50 {% endif %}" href="{{ relative }}{{ entry.url }}">{{ entry.title }}</a>
          </li>
        {%- endfor %}
      </ul>
    </section>

  </nav>
</aside>