<aside class="md:col-span-3 p-4 bg-white rounded shadow">
  <nav class="divide-y-2 divide-gray-light-900 sticky top-4">

    <section class="pb-3">
      {% set navPages = collections.all | eleventyNavigation("Home") %}
      <ul class="">
        {%- for entry in navPages %}
          <li>
            <a class="block rounded py-2 px-4 hover:bg-action-light {% if entry.url == page.url %} bg-action-light {% endif %}" href="{{ relative }}{{ entry.url }}">{{ entry.title }}</a>
          </li>
        {%- endfor %}
      </ul>
    </section>

    <section class="py-3">
      <h3 class="px-4 py-2 uppercase font-bold text-sm">Design & Content</h3>

      {% set navPages = collections.all | eleventyNavigation("Design") %}
      <ul class="">
        {%- for entry in navPages %}
          <li>
            <a class="block rounded py-2 px-4 hover:bg-action-light {% if entry.url == page.url %} bg-action-light {% endif %}" href="{{ relative }}{{ entry.url }}">{{ entry.title }}</a>
          </li>
        {%- endfor %}
      </ul>
    </section>

    <section class="py-3">
      <h3 class="px-4 py-2 uppercase font-bold text-sm">Styles</h3>
      {% set navPages = collections.all | eleventyNavigation("Styles") %}
      <ul class="">
        {%- for entry in navPages %}
          <li>
            <a class="block rounded py-2 px-4 hover:bg-action-light {% if entry.url == page.url %} bg-action-light {% endif %}" href="{{ relative }}{{ entry.url }}">{{ entry.title }}</a>
          </li>
        {%- endfor %}
      </ul>
    </section>

    <section class="py-3">
      <h3 class="px-4 py-2 uppercase font-bold text-sm">Components & Patterns</h3>
      {% set navPages = collections.all | eleventyNavigation("Components") %}
      <ul class="">
        {%- for entry in navPages %}
          <li>
            <a class="block rounded py-2 px-4 hover:bg-action-light {% if entry.url == page.url %} bg-action-light {% endif %}" href="{{ relative }}{{ entry.url }}">{{ entry.title }}</a>
          </li>
        {%- endfor %}
      </ul>
    </section>

  </nav>
</aside>