<div>
  <label for="title" class="block text-base font-semibold leading-6 text-gray-800 mb-2">Pealkiri</label>
  <input type="text" name="name" id="title" placeholder="Näiteks Tähtvere mõis" class="block w-full rounded py-3 px-4 text-gray-900 focus:outline-none focus:ring-2 sm:text-base sm:leading-6 border border-gray-200 hover:border-gray-300 focus:border-gray-500 focus:ring-green-300 focus:ring-green-300 placeholder:text-gray-300">
  <p class="mt-2 text-sm text-gray-500">Dokumendi või selle kirjeldamise tasandi pealkiri</p>
</div>