<!-- Dynamic select dropdown with Tailwind Elements JS -->
<!-- https://tailwind-elements.com/docs/standard/getting-started/quick-start/ -->
<!-- https://tailwind-elements.com/docs/standard/forms/select/#docsTabsAPI -->
<!-- TODO: generated classes may need to be overwritten for different states (active/invalid) -->
<!-- TODO: TWE css conflicts with preset and base classes -->
<div>
  <label for="listbox" class="block font-medium text-sm mb-2">List</label>
  <select id="listbox" name="listbox" class="text-sm" data-te-select-init data-te-select-size="sm">
    <option value="1">One</option>
    <option value="2">Two</option>
    <option value="3">Three</option>
    <option value="4">Four</option>
    <option value="5">Five</option>
    <option value="6">Six</option>
    <option value="7">Seven</option>
    <option value="8">Eight</option>
  </select>
</div>