<div>
  <label for="name2" class="block font-bold text-sm">Nimi</label>
  <div class="mt-1">
    <input type="text" name="nimi" id="name2" placeholder="Jane Doe"
           class="block w-full rounded px-3 py-2 border-gray-300 text-gray-900 text-sm placeholder:text-sm"
    >
  </div>
  <p class="mt-1 text-xs">Abiteksti ja teavituse koht</p>
</div>
<div class="mt-1">
  <label for="leidandmed2" class="block font-bold text-sm">Leidandmed</label>
  <div class="relative mt-1">
    <!-- tooltip needs additional JS for actions and triggering -->
    <div class="absolute inset-y-0 right-3 flex items-center justify-center">
      <div class="h-6 w-6 p-1 rounded-full bg-gray-50 hover:ring-4 hover:ring-gray-50">
        <svg class="relative" viewBox="0 0 24 24" fill="currentColor"
             aria-hidden="true" xmlns="http://www.w3.org/2000/svg">
          <path
            d="M11 18H13V16H11V18ZM12 2C6.48 2 2 6.48 2 12C2 17.52 6.48 22 12 22C17.52 22 22 17.52 22 12C22 6.48 17.52 2 12 2ZM12 20C7.59 20 4 16.41 4 12C4 7.59 7.59 4 12 4C16.41 4 20 7.59 20 12C20 16.41 16.41 20 12 20ZM12 6C9.79 6 8 7.79 8 10H10C10 8.9 10.9 8 12 8C13.1 8 14 8.9 14 10C14 12 11 11.75 11 15H13C13 12.75 16 12.5 16 10C16 7.79 14.21 6 12 6Z"/>
        </svg>
      </div>
    </div>
    <input type="text" name="reference" id="leidandmed2" placeholder="EAA.21.1-1.32fk"
           class="block w-full rounded px-3 py-22 pr-12 border-gray-300 text-sm placeholder:text-sm"
    >
  </div>
</div>
<div class="mt-1">
  <label for="email2" class="block font-bold text-sm">Email</label>
  <div class="relative mt-1">
    <!-- tooltip needs additional JS for actions and triggering -->
    <div class="absolute inset-y-0 right-3 flex items-center gap-x-2">
      <div class="h-6 w-6 p-1 rounded-full bg-gray-50 hover:ring-4 hover:ring-gray-50">
        <svg class="relative" viewBox="0 0 24 24" fill="currentColor"
             aria-hidden="true" xmlns="http://www.w3.org/2000/svg">
          <path
            d="M11 18H13V16H11V18ZM12 2C6.48 2 2 6.48 2 12C2 17.52 6.48 22 12 22C17.52 22 22 17.52 22 12C22 6.48 17.52 2 12 2ZM12 20C7.59 20 4 16.41 4 12C4 7.59 7.59 4 12 4C16.41 4 20 7.59 20 12C20 16.41 16.41 20 12 20ZM12 6C9.79 6 8 7.79 8 10H10C10 8.9 10.9 8 12 8C13.1 8 14 8.9 14 10C14 12 11 11.75 11 15H13C13 12.75 16 12.5 16 10C16 7.79 14.21 6 12 6Z"/>
        </svg>
      </div>
    </div>
    <div>
      <input type="email" name="email" id="email2"
             placeholder="you@example.com" value="asdf" aria-invalid="true" aria-describedby="email-error"
             class="peer block w-full rounded px-3 py-2 pr-9 border-gray-300 text-sm placeholder:text-sm
              invalid:text-red-500 invalid:border-red-300 invalid:hover:shadow-error"
      >
      <div class="invisible peer-invalid:visible absolute inset-y-0 right-10 flex items-center justify-center">
        <div class="h-4 w-4 rounded-full">
          <svg class="relative text-red-500" viewBox="0 0 24 24" fill="currentColor"
               aria-hidden="true" xmlns="http://www.w3.org/2000/svg">
            <path
              d="M11 15h2v2h-2v-2zm0-8h2v6h-2V7zm.99-5C6.47 2 2 6.48 2 12s4.47 10 9.99 10C17.52 22 22 17.52 22 12S17.52 2 11.99 2zM12 20c-4.42 0-8-3.58-8-8s3.58-8 8-8 8 3.58 8 8-3.58 8-8 8z"/>
          </svg>
        </div>
      </div>
    </div>
  </div>
  <p class="mt-1 text-xs">Abiteksti ja teavituse koht</p>
  <p class="mt-1 text-xs text-red-500" id="email-error">Vigane meiliaadress</p> <!-- requires extra JS -->
</div>
<div class="mt-1">
  <label for="about2" class="block font-bold text-sm">Ülevaade</label>
  <div class="relative mt-1">
    <div>
      <textarea name="about" id="about2" placeholder="Lorem ipsum"
                aria-invalid="true" aria-describedby="about1-error"
                class="block w-full rounded px-3 py-2 pr-6 border-gray-300 text-sm placeholder:text-sm"
      ></textarea>
    </div>
    <div class="absolute top-2 right-4 flex items-center gap-x-2">
      <div class="h-6 w-6 p-1 rounded-full bg-gray-50 hover:ring-4 hover:ring-gray-50">
        <svg class="relative" viewBox="0 0 24 24" fill="currentColor"
             aria-hidden="true" xmlns="http://www.w3.org/2000/svg">
          <path
            d="M11 18H13V16H11V18ZM12 2C6.48 2 2 6.48 2 12C2 17.52 6.48 22 12 22C17.52 22 22 17.52 22 12C22 6.48 17.52 2 12 2ZM12 20C7.59 20 4 16.41 4 12C4 7.59 7.59 4 12 4C16.41 4 20 7.59 20 12C20 16.41 16.41 20 12 20ZM12 6C9.79 6 8 7.79 8 10H10C10 8.9 10.9 8 12 8C13.1 8 14 8.9 14 10C14 12 11 11.75 11 15H13C13 12.75 16 12.5 16 10C16 7.79 14.21 6 12 6Z"></path>
        </svg>
      </div>
    </div>
  </div>
  <p class="mt-1 text-xs">Lühike ülevaatlik informatsioon</p>
</div>