<div class="flex items-center space-x-10">
  <button type="button" class="
      rounded p-2 font-medium bg-transparent cursor-pointer border-none
      no-underline hover:focus:active:no-underline focus:active:ring-2 focus:active:ring-green-300
      hover:bg-white/60 focus:active:bg-white
  ">
    <svg class="h-3 w-3" viewBox="0 0 24 24" fill="currentColor">
      <path d="M19,9.3V4h-3v2.6L12,3L2,12h3v8h6v-6h2v6h6v-8h3L19,9.3z M17,18h-2v-6H9v6H7v-7.81l5-4.5l5,4.5V18z"></path>
      <path d="M10,10h4c0-1.1-0.9-2-2-2S10,8.9,10,10z"></path>
    </svg>
  </button>
  <button type="button" class="
      rounded p-2.5 font-medium bg-transparent cursor-pointer border-none
      no-underline hover:focus:active:no-underline focus:active:ring-2 focus:active:ring-green-300
      hover:bg-white/60 focus:active:bg-white
  ">
    <svg class="h-4 w-4" viewBox="0 0 24 24" fill="currentColor">
      <path d="M19,9.3V4h-3v2.6L12,3L2,12h3v8h6v-6h2v6h6v-8h3L19,9.3z M17,18h-2v-6H9v6H7v-7.81l5-4.5l5,4.5V18z"></path>
      <path d="M10,10h4c0-1.1-0.9-2-2-2S10,8.9,10,10z"></path>
    </svg>
  </button>
  <button type="button" class="
      rounded p-3 font-medium bg-transparent cursor-pointer border-none
      no-underline hover:focus:active:no-underline focus:active:ring-2 focus:active:ring-green-300
      hover:bg-white/60 focus:active:bg-white
  ">
    <svg class="h-5 w-5" viewBox="0 0 24 24" fill="currentColor">
      <path d="M19,9.3V4h-3v2.6L12,3L2,12h3v8h6v-6h2v6h6v-8h3L19,9.3z M17,18h-2v-6H9v6H7v-7.81l5-4.5l5,4.5V18z"></path>
      <path d="M10,10h4c0-1.1-0.9-2-2-2S10,8.9,10,10z"></path>
    </svg>
  </button>
</div>