<div class="flex items-center space-x-10">
  <!-- rounded borders -->
  <button type="button" class="
      rounded p-2 text-base font-medium cursor-pointer border-none
      no-underline hover:focus:active:no-underline focus:active:ring-2 focus:active:ring-green-300
      hover:bg-gray-100/60 focus:active:bg-gray-100/80
  ">
    <svg class="h-3 w-3" viewBox="0 0 24 24" fill="currentColor">
      <path d="M19 6.41L17.59 5L12 10.59L6.41 5L5 6.41L10.59 12L5 17.59L6.41 19L12 13.41L17.59 19L19 17.59L13.41 12L19 6.41Z"></path>
    </svg>
  </button>
  <button type="button" class="
      rounded p-2.5 text-base font-medium cursor-pointer border-none
      no-underline hover:focus:active:no-underline focus:active:ring-2 focus:active:ring-green-300
      hover:bg-gray-100/60 focus:active:bg-gray-100/80
  ">
    <svg class="h-4 w-4" viewBox="0 0 24 24" fill="currentColor">
      <path d="M19 6.41L17.59 5L12 10.59L6.41 5L5 6.41L10.59 12L5 17.59L6.41 19L12 13.41L17.59 19L19 17.59L13.41 12L19 6.41Z"></path>
    </svg>
  </button>
  <button type="button" class="
      rounded p-3 text-base font-medium cursor-pointer border-none
      no-underline hover:focus:active:no-underline focus:active:ring-2 focus:active:ring-green-300
      hover:bg-gray-100/60 focus:active:bg-gray-100/80
  ">
    <svg class="h-5 w-5" viewBox="0 0 24 24" fill="currentColor">
      <path d="M19 6.41L17.59 5L12 10.59L6.41 5L5 6.41L10.59 12L5 17.59L6.41 19L12 13.41L17.59 19L19 17.59L13.41 12L19 6.41Z"></path>
    </svg>
  </button>
  <!-- full circular -->
  <button type="button" class="
      rounded-full p-2 text-base font-medium cursor-pointer border-none
      no-underline hover:focus:active:no-underline focus:active:ring-2 focus:active:ring-green-300
      hover:bg-gray-100/60 focus:active:bg-gray-100/80
  ">
    <svg class="h-3 w-3" viewBox="0 0 24 24" fill="currentColor">
      <path d="M19 13H13V19H11V13H5V11H11V5H13V11H19V13Z"></path>
    </svg>
  </button>
  <button type="button" class="
      rounded-full p-2.5 text-base font-medium cursor-pointer border-none
      no-underline hover:focus:active:no-underline focus:active:ring-2 focus:active:ring-green-300
      hover:bg-gray-100/60 focus:active:bg-gray-100/80
  ">
    <svg class="h-4 w-4" viewBox="0 0 24 24" fill="currentColor">
      <path d="M19 13H13V19H11V13H5V11H11V5H13V11H19V13Z"></path>
    </svg>
  </button>
  <button type="button" class="
      rounded-full p-3 text-base font-medium cursor-pointer border-none
      no-underline hover:focus:active:no-underline focus:active:ring-2 focus:active:ring-green-300
      hover:bg-gray-100/60 focus:active:bg-gray-100/80
  ">
    <svg class="h-5 w-5" viewBox="0 0 24 24" fill="currentColor">
      <path d="M19 13H13V19H11V13H5V11H11V5H13V11H19V13Z"></path>
    </svg>
  </button>
</div>