<div class="flex items-center space-x-10">
  <button type="button" class="
      inline-flex flex-nowrap items-center py-2 px-4 text-sm
      font-medium text-center text-gray-900 bg-transparent rounded cursor-pointer border-none
      no-underline hover:focus:active:no-underline focus:active:ring-2 focus:active:ring-green-300
      hover:bg-gray-100/60 focus:active:bg-gray-100/80
  ">
    Small
  </button>
  <button type="button" class="
      inline-flex flex-nowrap items-center py-3 px-5 text-base
      font-medium text-center text-gray-900 bg-transparent rounded cursor-pointer border-none
      no-underline hover:focus:active:no-underline focus:active:ring-2 focus:active:ring-green-300
      hover:bg-gray-100/60 focus:active:bg-gray-100/80
  ">
    Base
  </button>
  <button type="button" class="
      inline-flex flex-nowrap items-center py-4 px-6 text-lg
      font-medium text-center text-gray-900 bg-transparent rounded cursor-pointer border-none
      no-underline hover:focus:active:no-underline focus:active:ring-2 focus:active:ring-green-300
      hover:bg-gray-100/60 focus:active:bg-gray-100/80
  ">
    Large
  </button>
</div>