<table class="w-full bg-transparent">
  <thead>
  <tr class="font-medium text-left align-middle">
    <th class="p-3">#</th>
    <th class="p-3 whitespace-nowrap"><a href="#">Tasand</a></th>
    <th class="p-3 whitespace-nowrap"><a href="#">Leidandmed</a></th>
    <th class="p-3 whitespace-nowrap"><a href="#">Pealkirjad</a></th>
    <th class="p-3 whitespace-nowrap"><a href="#">Piirdaatumid</a></th>
    <th class="p-3 whitespace-nowrap"><a href="#">Hoiukoht</a></th>
    <th class="p-3 whitespace-nowrap">
      <a href="#">
        <svg class="h-6 w-6" viewBox="0 0 24 24" fill="currentColor" glyph-name="mdi-cloud_done">
          <path d="M0 0h24v24H0V0z" fill="none"></path>
          <path
            d="M19.35 10.04C18.67 6.59 15.64 4 12 4 9.11 4 6.6 5.64 5.35 8.04 2.34 8.36 0 10.91 0 14c0 3.31 2.69 6 6 6h13c2.76 0 5-2.24 5-5 0-2.64-2.05-4.78-4.65-4.96zM19 18H6c-2.21 0-4-1.79-4-4 0-2.05 1.53-3.76 3.56-3.97l1.07-.11.5-.95C8.08 7.14 9.94 6 12 6c2.62 0 4.88 1.86 5.39 4.43l.3 1.5 1.53.11c1.56.1 2.78 1.41 2.78 2.96 0 1.65-1.35 3-3 3zm-9-3.82l-2.09-2.09L6.5 13.5 10 17l6.01-6.01-1.41-1.41z"></path>
        </svg>
      </a>
    </th>
  </tr>
  </thead>
  <tbody>
  <tr class="odd:bg-white even:bg-gray-50 hover:bg-green-50">
    <td class="p-3 first:rounded-l last:rounded-r">1</td>
    <td class="p-3 first:rounded-l last:rounded-r">Säilik</td>
    <td class="p-3 first:rounded-l last:rounded-r">ERA.5071.1.259</td>
    <td class="p-3 first:rounded-l last:rounded-r">
      <a href="#"
         class="font-medium text-blue-600 no-underline hover:text-blue-500 hover:focus:active:underline focus:active:text-blue-700">
        Kirjavahetus Viljandi rajooni arhitektuurimälestiste kohta. Koondkaust 2.
      </a>
    </td>
    <td class="p-3 first:rounded-l last:rounded-r whitespace-nowrap">1980-1993</td>
    <td class="p-3 first:rounded-l last:rounded-r">Pikk, Tallinn</td>
    <td class="p-3 first:rounded-l last:rounded-r">
      <span class="inline-flex items-center rounded-full bg-green-300 px-3 py-1.5 text-sm text-black">
        <svg class="h-4 w-4" viewBox="0 0 24 24" fill="currentColor" glyph-name="mdi-cloud_done">
          <path d="M0 0h24v24H0V0z" fill="none"></path>
          <path
            d="M19.35 10.04C18.67 6.59 15.64 4 12 4 9.11 4 6.6 5.64 5.35 8.04 2.34 8.36 0 10.91 0 14c0 3.31 2.69 6 6 6h13c2.76 0 5-2.24 5-5 0-2.64-2.05-4.78-4.65-4.96zM19 18H6c-2.21 0-4-1.79-4-4 0-2.05 1.53-3.76 3.56-3.97l1.07-.11.5-.95C8.08 7.14 9.94 6 12 6c2.62 0 4.88 1.86 5.39 4.43l.3 1.5 1.53.11c1.56.1 2.78 1.41 2.78 2.96 0 1.65-1.35 3-3 3zm-9-3.82l-2.09-2.09L6.5 13.5 10 17l6.01-6.01-1.41-1.41z"></path>
        </svg>
      </span>
    </td>
  </tr>
  <tr class="odd:bg-white even:bg-gray-50 hover:bg-green-50">
    <td class="p-3 first:rounded-l last:rounded-r">2</td>
    <td class="p-3 first:rounded-l last:rounded-r">Säilik</td>
    <td class="p-3 first:rounded-l last:rounded-r">ERA.5071.1.200</td>
    <td class="p-3 first:rounded-l last:rounded-r">
      <a href="#"
         class="font-medium text-blue-600 no-underline hover:text-blue-500 hover:focus:active:underline focus:active:text-blue-700">
        Simuna kirik. Kirjavahetus.
      </a>
    </td>
    <td class="p-3 first:rounded-l last:rounded-r whitespace-nowrap">1965-1987</td>
    <td class="p-3 first:rounded-l last:rounded-r">Pikk, Tallinn</td>
    <td class="p-3 first:rounded-l last:rounded-r"></td>
  </tr>
  <tr class="odd:bg-white even:bg-gray-50 hover:bg-green-50">
    <td class="p-3 first:rounded-l last:rounded-r">3</td>
    <td class="p-3 first:rounded-l last:rounded-r">Allsari</td>
    <td class="p-3 first:rounded-l last:rounded-r">ERA.5071</td>
    <td class="p-3 first:rounded-l last:rounded-r">
      <a href="#"
         class="font-medium text-blue-600 no-underline hover:text-blue-500 hover:focus:active:underline focus:active:text-blue-700">
        1. Kirjavahetus Haapsalu rajooni arhitektuurimälestiste kohta.
      </a>
    </td>
    <td class="p-3 first:rounded-l last:rounded-r whitespace-nowrap"></td>
    <td class="p-3 first:rounded-l last:rounded-r">Pikk, Tallinn</td>
    <td class="p-3 first:rounded-l last:rounded-r"></td>
  </tr>
  <tr class="odd:bg-white even:bg-gray-50 hover:bg-green-50">
    <td class="p-3 first:rounded-l last:rounded-r">4</td>
    <td class="p-3 first:rounded-l last:rounded-r">Säilik</td>
    <td class="p-3 first:rounded-l last:rounded-r">ERA.5071.1.202</td>
    <td class="p-3 first:rounded-l last:rounded-r">
      <a href="#"
         class="font-medium text-blue-600 no-underline hover:text-blue-500 hover:focus:active:underline focus:active:text-blue-700">
        Porkuni linnus. Kirjavahetus.
      </a>
    </td>
    <td class="p-3 first:rounded-l last:rounded-r whitespace-nowrap">1953-1991</td>
    <td class="p-3 first:rounded-l last:rounded-r">Pikk, Tallinn</td>
    <td class="p-3 first:rounded-l last:rounded-r"></td>
  </tr>
  <tr class="odd:bg-white even:bg-gray-50 hover:bg-green-50">
    <td class="p-3 first:rounded-l last:rounded-r">5</td>
    <td class="p-3 first:rounded-l last:rounded-r">Säilik</td>
    <td class="p-3 first:rounded-l last:rounded-r">ERA.2031.6</td>
    <td class="p-3 first:rounded-l last:rounded-r">
      <a href="#"
         class="font-medium text-blue-600 no-underline hover:text-blue-500 hover:focus:active:underline focus:active:text-blue-700">
        Protokolliraamat
      </a>
    </td>
    <td class="p-3 first:rounded-l last:rounded-r whitespace-nowrap">1929-1931</td>
    <td class="p-3 first:rounded-l last:rounded-r">Madara, ERA.M5.1.2.3</td>
    <td class="p-3 first:rounded-l last:rounded-r"></td>
  </tr>
  </tbody>
</table>