<a class="
    inline-flex flex-nowrap items-center py-2 text-sm px-4
    font-medium text-sm text-center text-blue-600 bg-transparent rounded cursor-pointer border-none
    no-underline hover:focus:active:no-underline focus:active:ring-2 focus:active:ring-green-300
    hover:text-blue-500 focus:active:text-blue-700 hover:bg-blue-100/10 focus:active:bg-blue-100/10
">
  Small Link
</a>
<a class="
    inline-flex flex-nowrap items-center py-3 px-4
    font-medium text-base text-center text-blue-600 bg-transparent rounded cursor-pointer border-none
    no-underline hover:focus:active:no-underline focus:active:ring-2 focus:active:ring-green-300
    hover:text-blue-500 focus:active:text-blue-700 hover:bg-blue-100/10 focus:active:bg-blue-100/10
">
  Base Link
</a>
<a class="
    inline-flex flex-nowrap items-center py-4 px-6
    font-medium text-lg text-center text-blue-600 bg-transparent rounded cursor-pointer border-none
    no-underline hover:focus:active:no-underline focus:active:ring-2 focus:active:ring-green-300
    hover:text-blue-500 focus:active:text-blue-700 hover:bg-blue-100/10 focus:active:bg-blue-100/10
">
  Large Link
</a>