<div class="flex items-center space-x-10">
  <a href="#" class="text-sm font-medium text-blue-600 no-underline
    hover:text-blue-500 hover:focus:active:underline focus:active:text-blue-700"
  >
    Small Link
  </a>
  <a href="#" class="text-base font-medium text-blue-600 no-underline
    hover:text-blue-500 hover:focus:active:underline focus:active:text-blue-700"
  >
    Base Link
  </a>
  <a href="#" class="text-lg font-medium text-blue-600 no-underline
    hover:text-blue-500 hover:focus:active:underline focus:active:text-blue-700"
  >
    Large Link
  </a>
</div>