<button type="button" class="
    inline-flex flex-nowrap items-center py-2 text-sm px-4
    font-medium text-base text-center text-gray-900 bg-transparent rounded cursor-pointer border-none
    no-underline hover:focus:active:no-underline focus:active:ring-2 focus:active:ring-green-300
    hover:bg-white/60 focus:active:bg-white
">
  Small
</button>
<button type="button" class="
    inline-flex flex-nowrap items-center py-3 px-4
    font-medium text-base text-center text-gray-900 bg-transparent rounded cursor-pointer border-none
    no-underline hover:focus:active:no-underline focus:active:ring-2 focus:active:ring-green-300
    hover:bg-white/60 focus:active:bg-white
">
  Medium
</button>
<button type="button" class="
    inline-flex flex-nowrap items-center py-4 px-6 text-lg
    font-medium text-base text-center text-gray-900 bg-transparent rounded cursor-pointer border-none
    no-underline hover:focus:active:no-underline focus:active:ring-2 focus:active:ring-green-300
    hover:bg-white/60 focus:active:bg-white
">
  Large
</button>