<button type="button" class="
    inline-flex flex-nowrap items-center py-2 text-sm px-4
    font-medium text-base text-center text-gray-900 bg-white rounded cursor-pointer
    border border-solid border-gray-200 focus:active:border-gray-900
    no-underline hover:focus:active:no-underline focus:active:ring-2 focus:active:ring-green-300
    hover:bg-gray-100 focus:active:bg-gray-200
">
  Small
</button>
<button type="button" class="
    inline-flex flex-nowrap items-center py-3 px-4
    font-medium text-base text-center text-gray-900 bg-white rounded cursor-pointer
    border border-solid border-gray-200 focus:active:border-gray-900
    no-underline hover:focus:active:no-underline focus:active:ring-2 focus:active:ring-green-300
    hover:bg-gray-100 focus:active:bg-gray-200
">
  Medium
</button>
<button type="button" class="
    inline-flex flex-nowrap items-center py-4 px-6 text-lg
    font-medium text-base text-center text-gray-900 bg-white rounded cursor-pointer
    border border-solid border-gray-200 focus:active:border-gray-900
    no-underline hover:focus:active:no-underline focus:active:ring-2 focus:active:ring-green-300
    hover:bg-gray-100 focus:active:bg-gray-200
">
  Large
</button>